<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>СПИСОК ПОЛЬЗОВАТЕЛЕЙ</title>
    <style> table th, table td {
            padding: 10px 5px;
            font-family: "Roboto Light",serif;
            font-size: 16px;
            border-style: solid;
            border-width: 1px;
            background: #e3d7db;
        }
        button {
            padding: 5px;
            background-color: #fac1ab;
        }
    body {
        background-color: #e8d5c9;
    }
    </style>
</head>
<body>
    <H1>СПИСОК ПОЛЬЗОВАТЕЛЕЙ</H1>
    <br/>
    <div>
        <table>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Позиция</th>
                <th>Электронный адрес</th>
            </tr>
            <tr th:each="user : ${users}">
                <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getId()}">Id</a></td>
                <td th:utext="${user.getName()}">Name</td>
                <td th:utext="${user.getPosition()}">Position</td>
                <td th:utext="${user.getEmail()}">Email</td>
            </tr>
        </table>
    </div>
    <br/>
    <hr/>
    <button onclick="window.location.href = '/users/new';">Создать пользователя</button>
</body>
</html>