<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <h1>Создать пользователя</h1>
    <style> table th, table td {
        padding: 10px 5px;
        font-family: "Roboto Light",serif;
        font-size: 16px;
        border-style: solid;
        border-width: 1px;
        background: rgba(157, 201, 157, 0.78);
    }
    body {
        background-color: rgba(210, 222, 210, 0.78);
    }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <table>
        <tr><td>
            <label for="name">Введите Имя: </label>
            <input type="text" th:field="*{name}" id="name"/>
<!--            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name not valid!</div>-->
        </td></tr>
        <tr><td>
            <label for="position">Введите позицию: </label>
            <input type="text" th:field="*{position}" id="position"/>
<!--            <div style="color: red" :if="${#fields.hasErrors('position')}" th:errors="*{position}">Position not valid!</div>-->
        </td></tr>
        <tr><td>
            <label for="email">Введите электронный адрес: </label>
            <input type="text" th:field="*{email}" id="email"/>
<!--            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email not valid!</div>-->
        </td></tr>
        <tr><td>
            <input type="submit" value="Создать пользователя"/>
        </td></tr>
    </table>
</form>

</body>
</html>